*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    
    height: 100vh;
    padding: 10px;
    background: linear-gradient(180deg,white,rgb(0, 0, 0));
}

.todo-app{
    
    max-width: 545px;
    margin: 100px auto;
    background-color: white;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1{
    color: chocolate;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.todo-app h1 img{
    width: 35px;
    margin-left: 10px;
}

.todo-app:hover{
    box-shadow: 1px 2px 2px 3px black;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    background-color: olivedrab;
    border-radius: 10px;
}

button:hover{
    background-color: darkolivegreen;
}

ul li{
    list-style: none;
    user-select: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url('img/radio.png');
    background-size: cover;
    background-position: center;
    left: 16px;
    top:8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    color:#666;
    background-image: url('img/check.png');
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width:40px;
    height:40px;
    border-radius: 50%;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #ecdede;
}