*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(135deg, #1d2671, #c33764);

    align-items: center;
    justify-content: center;

}


.input-box{
    width: 400px;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 60px;
    border: 1px solid lightslategrey;
    padding: 0px 20px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 16%;
    left: 84%;
}

button img {
    width: 35px;
    
}

#message{
    position:absolute;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    display: none;
}